 <%- include("header")%>
      <div class="page-wrapper">
       
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
           
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form class="form-horizontal" action="/admin/blog/insertBlog" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <h4 class="card-title">Add Blog</h4>

                               <div class="form-group row">
                    <label class="col-md-3 mt-3">Select Category</label>
                    <div class="col-md-9">
                      
                      <select
                        class="select2 form-select shadow-none"
                        style="width: 100%; height: 36px"
                        name="category"
                      >

                
                       

                          <option value="xyz">xyz</option> 


                 
                 
                      </select>
                    </div>
                  </div>
                    <div class="form-group row">
                      <label
                        for="fname"
                      
                        class="col-sm-3 text-end control-label col-form-label"
                        >Blog Name</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                            name="blogName"
                          class="form-control"
                          id="fname"
                          placeholder="Blog Name Here"
                        />
                      </div>
                    </div>
             
                
                   
                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Description</label
                      >
                      <div class="col-sm-9">
                        <textarea class="form-control" name="blogDesc"></textarea>
                      </div>
                    </div>
             
                  <div class="form-group row pt-3 mt-3">
                    <label class="col-md-3">Upload FIle</label>
                    <div class="col-md-9">
                      <div class="custom-file">
                        <input
                          type="file"
                          name="blogImage"
                          class="custom-file-input"
                          id="validatedCustomFile"
                          required
                        />
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile"
                          >Choose file...</label
                        >
                        <div class="invalid-feedback">
                          Example invalid custom file feedback
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            
          
            </div>
      
          </div>

        </div>

    



 <%- include("footer")%>