<%- include("header")%>



    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">

                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal " action="/admin/changePass" method="post">
                            <div class="card-body ">
                                <h4 class="card-title">Change Password</h4>
                                <div class="form-group row mt-5">
                                    <label for="fname" class="col-sm-3  text-end control-label col-form-label">Old
                                        Password</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="oldPass" class="form-control"
                                            placeholder="Old Password" />
                                    </div>
                                </div>



                                <div class="form-group row mt-5">
                                    <label for="fname" class="col-sm-3  text-end control-label col-form-label">New
                                        Password</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="newPass" class="form-control"
                                            placeholder="New Password" />
                                    </div>
                                </div>
                                <div class="form-group row mt-5">
                                    <label class="col-sm-3  text-end control-label col-form-label">Conform
                                        Password</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="confPass" class="form-control"
                                            placeholder="Conform Password" />
                                    </div>
                                </div>




                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
            <!-- editor -->

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->




        <%- include("footer")%>