 <%- include("blogheader")%>

<div class="container p-2 my-4">
    <div class="blog-post text-white">
      <div class="row g-2">
        <div class="col-lg-4 col-md-2 col-sm-12 rounded-3">
          <div class="img-div p-3">
            <div class="pt-5">
              <div class="content row pt-5 d-flex align-content-end">
                <div class="col-4 pe-0 w-fit text-start">14 july 2025</div>
                <div class="col-4 ps-0 text-start">Technology</div>
                <div class="col-12">
                  <p class="text-primary p-0 m-0">
                    indian market face high down...
                  </p>
                </div>
                <div class="col-12 text-truncate">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatum, fugiat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
 <%- include("blogfooter")%>